<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :customer_type %><br />
    <%= f.text_field :customer_type %>
  </div>
  <div class="field">
    <%= f.label :nif %><br />
    <%= f.number_field :nif %>
  </div>
  <div class="field">
    <%= f.label :street_addr %><br />
    <%= f.text_field :street_addr %>
  </div>
  <div class="field">
    <%= f.label :cp_4d %><br />
    <%= f.number_field :cp_4d %>
  </div>
  <div class="field">
    <%= f.label :cp_3d %><br />
    <%= f.number_field :cp_3d %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
