<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Customer type:</b>
  <%= @customer.customer_type %>
</p>

<p>
  <b>Nif:</b>
  <%= @customer.nif %>
</p>

<p>
  <b>Street addr:</b>
  <%= @customer.street_addr %>
</p>

<p>
  <b>Cp 4d:</b>
  <%= @customer.cp_4d %>
</p>

<p>
  <b>Cp 3d:</b>
  <%= @customer.cp_3d %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Website:</b>
  <%= @customer.website %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<h2>Lista de pessoas associadas à empresa:</h2>
<%= render @customer.users %>

<button onclick="expandDiv('adicionarContacto');">Adicionar contacto</button>
<div id="adicionarContacto" style="display: none">
  <h2>Adicionar novo contacto:</h2>
  <%= render "users/form" %>
</div>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
